@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color:rgb(207, 208, 255);
}

* {
    box-sizing: border-box; /*A propriedade CSS box-sizing é utilizada para alterar a propriedade padrão da box model, usada para calcular larguras (widths) e alturas (heights) dos elementos. É possível usar essa propriedade para emular o comportamento dos navegadores (browsers) que não suportam corretamente a especificação da propriedade CSS box model.*/
    outline: 0; /*O Outline do documento HTML é a estrutura do documento que é gerada pelos títulos, títulos de formulários, títulos das tabelas e qualquer outro elemento que marque alguma seção de conteúdo no documento. */ 
}

body {
margin: 0; /*A propriedade margin do CSS define a área de margem nos quatro lados do elemento. É uma abreviação que define todas as margens individuais de uma só vez: */
padding: 0; /* A propriedade padding define uma a distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente */
background: var(--primary-color); /*Defini a cor do fundo */
font-family: 'Open sans', sans-serif;
font-size: 1.3em;
line-height: 1.5em;
}

.container {
    max-width: 440px;
    margin: 50px auto;
    background-color: rgb(62, 80, 141);
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    
}

form input, fomr label, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    margin-top: 30px;
}
form button:hover {
    background: var(--primary-color);
}

.btn-tarefa {
    background-color: rgb(59, 64, 216);
    border-color: rgb(51, 55, 169);
    color: rgb(255, 255, 255);
}

.input-tarefa {
    background-color:rgb(215, 214, 242);
    border-color: rgb(51, 55, 169);
    color: rgb(59, 64, 216);

}

.apagar {
    background-color: rgb(59, 64, 216);
    border-color: rgb(51, 55, 169);
    color: rgb(255, 255, 255);
    
}

.titulo{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 55, 169);
    border-radius: 15px;
    text-align: center;
    
}

